.AnswerArea {
    display: flex;
    bottom: 0;
}

.AnswerArea div {
    flex-wrap: wrap;
}

@media (min-width: 650px) and (max-width: 800px) {
    .AnswerArea {
        height: 50%;
        width: 100%;
        box-sizing: border-box;
    }

    .AnswerArea button {
        font-size: 1.7em;
    }
}

@media (min-width: 801px) {
    .AnswerArea {
        position: inherit;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}


