.BookPrologue {
    background-color: white;
    color: black;
    line-height: 1.6;
}

.BookPrologue div {
    padding: 10px;
}

.BookPrologue .FullText {
    padding: 2em;
    color: black;
    text-align: justify;
}

@media (min-width: 801px) {
    .BookPrologue {
        box-sizing: border-box;
        width: 800px;
        margin: auto;
        border-style: solid;
        border-width: 0.2px;
    }
}



