.Button {
    width: 90%;
    padding: 8px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.8em 5%;
    background-color: #fffdf9;
    border-radius: 0 8px 0 8px;
    box-shadow: 1px 1px 3px #6c6c6c;
}

button:hover {
    font-weight: bolder;
    background-color: #DC3522;
    color: white;
}

button:active {
    background-color: #D9CB9E;
}

@media (min-width: 350px) and (min-height: 650px) {
    .Button {
        font-size: 1.2em;
        padding: 0.7em;
    }
}

@media (min-width: 801px) {
    .Button {
        box-sizing: border-box;
        width: 40%;
        margin: 10px;
        border-radius: 10px;
    }
}
