.Button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0;
    background-color: #fffdf9;
    border-radius: 0 8px 0 8px;
    box-shadow: 1px 1px 3px #6c6c6c;
}

button:hover {
    font-weight: bolder;
    background-color: #DC3522;
    color: white;
}

button:active {
    background-color: #D9CB9E;
}

@media (max-width: 600px) {
    .Button {
        width: 90%;
        font-size: .8em;
        margin-left: 5%;
    }
}

@media (min-width: 801px) {
    .Button {
        box-sizing: border-box;
        width: 40%;
        margin: 10px;
        border-radius: 10px;
    }
}
