.BookPrologue {
    color: black;
    line-height: 1.6;
    height: 350px;
}

.BookPrologue .FullText {
    padding: 2em;
    color: black;
    text-align: justify;
}

@media (max-width: 600px) {
    .BookPrologue .FullText {
        padding: 0 0.8em;
        font-size: 15px;
        line-height: 1.5;
    }

    .BookPrologue {
        height: 250px;
    }
}

@media (min-width: 801px) {
    .BookPrologue {
        box-sizing: border-box;
        width: 100%;
        margin: auto;
        border-style: solid;
        border-width: 0.2px;
    }
}



