.BookInfo {
    margin: 0;
    text-align: center;
    transition: visibility 0.5s, width 0.5s;
}

.BookInfo button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0;
    background-color: #fdf9ef;
    border-radius: 0 8px 0 8px;
    box-shadow: 1px 1px 3px #6c6c6c;
}

.BookInfo button:hover {
    font-size: 1em;
    font-weight: bolder;
    background-color: #DC3522;
    color: white;
}

@media (min-width: 650px) {
    .BookInfo h3 {
        margin: 0;
        font-size: 1.5em;
        text-align: center;
    }
}

.Incorrect {
    visibility: hidden;
    width: 0;
}

.Correct {
    visibility: visible;
    width: 100%;
}
