@import '../../variables.scss';

.Toolbar {
    background-color: $primary-color;
    width: 100%;
    color: white;
    display: flex;
    font-family: $title-font;
    padding: 0.4em 0.8em;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin: 0;
    }

    .navItems {
        display: none;
    }
}

@media (min-width: 501px) {
    .Toolbar {
        .navItems {
            display: flex;
            list-style-type: none;
        }
    }
}

@media (min-width: 650px) and (max-width: 800px) {
    .Toolbar {
    }

    .Toolbar h1 {
        font-size: 2.5em;
    }
}

@media (min-width: 850px) {
    .Toolbar {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }

    .Title {
        width: 60%;
        text-align: left;
        line-height: 2em;
    }
}
