.Toolbar {
    background-color: #a58059;
    width: 100%;
    color: white;
    display: flex;
    text-align: right;
    box-shadow: inset 0 0 5px 0px #e6d5b0;
    height: 20%;
}

.Toolbar h1 {
    margin: 0;
    padding: 0.2em;
    font-size: 2em;
}

@media (min-width: 650px) and (max-width: 800px) {
    .Toolbar {
        background-color: #DC3522;
        width: 100%;
        text-align: center;
        margin: 0;
        color: white;
    }

    .Toolbar h1 {
        font-size: 2.5em;
    }
}

@media (min-width: 801px) {
    .Toolbar {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }

    .Title {
        width: 60%;
        text-align: left;
    }
}
