.Sidedrawer {
    width: 275px;
    height: 100%;
    background-color: white;
    z-index: 200;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    padding: 15px;
    font-family: sans-serif;
}

.Sidedrawer button {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    display: block;
    font-size: 1em;
}

.Sidedrawer a {
    padding: 1em;
    margin: 5px;
}

.Open {
    transform: translateX(0px);
}

.Closed {
    transform: translateX(-275px);
}

@media (min-width: 500px) {
    .Sidedrawer {
        display: none;
    }
}
