.DrawerToggle {
    width: 55px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0 0 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 60%;
    height: 3px;
    background-color: white;
    margin: 2px;
    border-radius: 5px;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}
