.DrawerToggle {
    display: flex;
    flex-flow: column;
    cursor: pointer;
    padding-top: 5px;

    div {
        width: 30px;
        height: 4px;
        display: block;
        margin: 0.1em 0;
        background-color: white;
        border-radius: 5px;
    }
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}
