.form {
    display: block;
}

.form input {
    background-color: #f8f6ef;
    width: 75%;
    margin: 3px;
    border: 0;
    border-radius: 5px;
    font-size: 0.8em;
}

.form textarea {
    background-color: #f8f6ef;
    margin: 5px;
    border: 0;
    border-radius: 2px;
    font-size: 0.8em;
}

.form button {
    width: 20%;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
    background-color: #fffdf9;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #6c6c6c;
    display: inline;
    color: #58432d;
}

.form button:hover {
    color: #fffdf9;
    background-color: #58432d;
}
