.Layout {
    width: 100%;
    display: block;
}

@media (min-width: 801px) {
    .Layout {
        width: 850px;
        margin: auto;
    }

    .App {
        max-width: 800px;
        margin: auto;
    }
}
