.NavItems {
    display: none;
}

@media (min-width: 500px) {
    .NavItems {
        width: 40%;
        list-style: none;
        display: flex;
        margin: 0 0 0 10em;
        height: 100%;
        box-sizing: border-box;
    }

    .item {
        background-color: salmon;
        padding: 6px 20px;
        margin-top: 0.5em;
        border-radius: 5px;
        box-sizing: border-box;
        height: 80%;
    }

    .item:hover {
        background-color: salmon;
    }
}
