.NavItems {
    display: none;
}

@media (min-width: 500px) {
    .NavItems {
        width: 40%;
        list-style: none;
        display: flex;
        margin: 0 0 0 10em;
        height: 100%;
        box-sizing: border-box;
    }

    .NavItems li {
        padding: 1.3em;
        margin-left: 4em;
        background-color: #c79d70;
        color: white;
    }

    .NavItems a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
    }

    .NavItems li:hover {
        background-color: #795e42;
    }
}

@media (min-width: 850px) {
    .NavItems li {
        padding: 1.7em;
    }
}
