.Buttons {
    background-color: #D9CB9E;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

@media (min-width: 650px) and (max-width: 800px) {
    .Buttons {
        height: 50%;
        width: 100%;
        box-sizing: border-box;
    }

    .Buttons button {
        font-size: 1.7em;
    }
}


