#root {
    height: 100%;
    background-color: #f4e7c7;
    box-shadow: inset 0 0 25px #c7af7f;
}

@media (min-width: 850px) {
    #root {
        width: 850px;
        margin: auto;
        height: auto;
    }
}
