@import './_variables.scss';

@font-face {
  font-family: Literata;
  src: url('./Fonts/Literata.ttf') format('truetype');
}

@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: url('./Fonts/Raleway-Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: $app-font, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
