.FullText {
    font-size: 1.2em;
    margin: 1em 2em 0 2em;
    height: 300px;
    text-align: justify;
}

@media (min-width: 350px) {
    .FullText {
        padding-top: 1em;
        height: 350px;
    }
}

/*iPhone X*/
@media (min-width: 350px) and (min-height: 675px) {
    .FullText {
        padding-top: 1em;
        height: 400px;
        font-size: 1.2em;
    }
}

@media (min-width: 650px) and (max-width: 800px) {
    .FullText {
        font-size: 1.9em;
        margin-top: 1em;
        padding: 0 1em;
    }
}

@media (min-width: 850px) {
    .FullText {
        font-size: 1.5em;
    }
}
